.bi-plus-square-fill {
  background-color: white;
}

.dot {
  float: left;
  width: 10px;
}

.invisible {
  display: none;
}

.toggle {
  border: none;
  background-color: #5c9be5;
}

.togggle-off,
.togggle-on {
  color: white;
}

.celcious,
.farenhite {
  color: white;
  font-size: 10px;
}

.left-arrow,
.next {
  opacity: 0.5;
}

.bi-sunset-fill,
.bi-sunrise-fill {
  color: white;
}

.temparature {
  font-size: 90px;
  font-weight: bold;
}
